{% extends 'application/main.html' %}

{% block content %}
<div class="page-wrapper bg-gra-01 p-t-90 font-poppins">
  <div class="wrapper wrapper--w680">
    <div class="card card-4">
      <div class="card-body">
        <h2 class="title">Add New Train</h2>
        <form method="POST">
          {% csrf_token %}
          <div class="row row-space">
              {% if form.start_destination.errors %}
              <div class="alert alert-danger input-group">
              <strong>
                  <label class="label">Start Destination</label> </strong>
                    {{form.start_destination}}
                    <strong style="margin-top: 10px; font-size: 13px"> {{ form.start_destination.errors|escape }} </strong>
              </div>
                {% else %}
                  <label class="label">Start Destination</label>
                <div class="input-group">
                    {{form.start_destination}}
                </div>
                {% endif %}
          </div>
                    <div class="p-t-55 center">
              <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
            </div>

        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
