{% extends 'application/main.html' %}
{% load static %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 h-100" src="{% static 'images/europe1.jpg' %}" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Shipping all across Europe</h5>
        <p>We deliver your parcel to all European cities! </p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 h-100" src="{% static 'images/train2.jpg' %}" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Shipping by Rail</h5>
        <p>All parcels are transported by our fastest trains!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 h-100" src="{% static 'images/package3.jpg' %}" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Shipping any kind of parcel</h5>
        <p>Any kind of parcel will be safely transported to preferred destination!</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endblock %}