{% extends 'application/main.html' %}

{% block content %}

    <div class="page-wrapper bg-gra-01 p-t-90 font-poppins">
        <div class="wrapper wrapper--w1500">
            <div class="card1 card-4">
                <div class="card-body1">
                    <h2 class="title">My Parcels</h2>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="nav-link2" data-toggle="tab" href="#toReceive">Parcels to
                                Receive</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#sent">Sent Parcels</a>
                        </li>

                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane" id="sent" style="margin-left: 20px; margin-right: 15px"><br>
                            <table id="approve_parcels_table" class="table table-striped table-bordered"
                                   style="width:100%">
                                <thead>
                                <tr>
                                    <th>Destination From</th>
                                    <th>Destination To</th>
                                    <th>Date Created</th>
                                    <th>Is Approved</th>
                                    <th>Date Sent</th>
                                    <th>Is Delivered</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for o in objSent %}
                                    <tr>
                                        <td>{{ o.destination_from }}</td>
                                        <td>{{ o.destination_to }}</td>
                                        <td>{{ o.dateCreated }}</td>
                                        {% if o.isApproved is False and o.isDeclined is False %}
                                            <td>Parcel not reviewed yet</td>
                                        {% elif o.isApproved is False and o.isDeclined is True %}
                                            <td>Parcel declined</td>
                                        {% else %}
                                            <td>Approved</td>
                                        {% endif %}
                                        {% if o.dateSent is None and o.isDeclined is False %}
                                            <td>Not sent yet</td>
                                        {% elif o.dateSent is None and o.isDeclined is True %}
                                            <td>/</td>
                                        {% else %}
                                            <td>{{ o.dateSent }}</td>
                                        {% endif %}
                                        {% if o.isDelivered is False and o.isDeclined is False %}
                                            <td>Not delivered yet</td>
                                        {% elif o.isDelivered is False and o.isDeclined is True %}
                                            <td>/</td>
                                        {% else %}
                                            <td>Delivered</td>
                                        {% endif %}

                                    </tr>
                                    <tr>
                                        <td colspan="6">
                                            <p style="font-family:'Georgia'; margin-top: -10px">
                                                Weight: {{ o.weight }}</p>
                                            <p style="font-family:'Georgia'; margin-top: -15px">
                                                Price: {{ o.price }}</p>
                                            {% if o.receiver is null %}
                                                <p style="font-family:'Georgia'; margin-top: -15px">
                                                    Receiver: {{ o.receiverSurname }} {{ o.receiverName }}</p>
                                                <p style="font-family:'Georgia'; margin-top: -15px">Receiver
                                                    Contact: {{ o.receiverContact }}</p>
                                            {% else %}
                                                <p style="font-family:'Georgia'; margin-top: -15px">
                                                    Receiver: {{ o.receiver.surname }} {{ o.receiver.name }}</p>
                                                <p style="font-family:'Georgia'; margin-top: -15px">Receiver
                                                    Contact: {{ o.receiver.mobile }}</p>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <div class="tab-pane active" id="toReceive" style="margin-left: 20px; margin-right: 15px"><br>
                            <table id="approve_parcels_table" class="table table-striped table-bordered"
                                   style="width:100%">
                                <thead>
                                <tr>
                                    <th>Destination From</th>
                                    <th>Destination To</th>
                                    <th>Date Created</th>
                                    <th>Date Sent</th>
                                    <th>Is Received</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for o in objToReceive %}
                                    <tr>
                                        <td class="id" style="display:none;">{{ o.id }}</td>
                                        <td>{{ o.destination_from }}</td>
                                        <td>{{ o.destination_to }}</td>
                                        <td>{{ o.dateCreated }}</td>
                                        {% if o.dateSent is None %}
                                            <td>Not sent yet</td>
                                        {% else %}
                                            <td>{{ o.dateSent }}</td>
                                        {% endif %}
                                        {% if o.isDelivered is False %}
                                            <td class="text-center">
                                                <button class="btn btn-success badge-pill" id="receivedBtn">RECEIVED</button>
                                            </td>
                                        {% else %}
                                            <td>Delivered</td>
                                        {% endif %}

                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                            <p style="font-family:'Georgia'; margin-top: -10px">
                                                Weight: {{ o.weight }}</p>
                                            <p style="font-family:'Georgia'; margin-top: -15px">
                                                Price: {{ o.price }}</p>
                                            {% if o.sender is null %}
                                                <p style="font-family:'Georgia'; margin-top: -15px">
                                                    Sender: {{ o.senderSurname }} {{ o.senderName }}</p>
                                                <p style="font-family:'Georgia'; margin-top: -15px">Sender
                                                    Contact: {{ o.senderContact }}</p>
                                            {% else %}
                                                <p style="font-family:'Georgia'; margin-top: -15px">
                                                    Sender: {{ o.sender.surname }} {{ o.sender.name }}</p>
                                                <p style="font-family:'Georgia'; margin-top: -15px">Sender
                                                    Contact: {{ o.sender.mobile }}</p>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>

        $(function () {
            $("td[colspan=5]").hide();
            $("td[colspan=6]").hide();
            $("table").click(function (event) {
                event.stopPropagation();
                const $target = $(event.target);
                if (!$target.hasClass('btn') && !$target.is('p')) {
                    console.log($target.closest("td"))
                    if ($target.closest("td").attr("colspan") > 1) {
                        $target.slideUp();
                    } else {
                        $target.closest("tr").next().find("td").slideToggle();
                    }
                }

            });
        });

        $("#receivedBtn").click(function () {
            let $id = $(this).closest("tr").find(".id").text();
            $.ajax({
                url: '/setReceived/',
                data: {
                    'parcelId': $id
                },
                success: function () {
                    window.location.reload();
                },
                error: function (e) {
                    console.log("error");
                }
            })
        });
    </script>

    <style>
        .container {
            background-color: #a58ed2
        }
    </style>


{% endblock content %}
